# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/
env/
venv/

# System files
.DS_Store

# Logs
*.log

# Large / unnecessary files
*.pdf

# Keep images (important for DIP)
*.jpg
*.jpeg
*.png